<link href="https://fonts.googleapis.com/css2?family=Margarine&display=swap" rel="stylesheet">


@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["MessageSuccess"] is not null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["MessageSuccess"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["MessageError"] is not null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MessageError"]
    </div>
}

<section class="hero-section" id="section_1">
    <div class="section-overlay"></div>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">

            <div class="col-12 mt-auto mb-5 text-center">
                <small>RICCIONE DISCO PRESENTA</small>

                <h3 class="text-white mb-5" style="font-size: 3rem">L'ESTATE 2024</h3>

                <a class="btn custom-btn smoothscroll" href="#section_2">INIZIA</a>
            </div>

            <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">
                <div class="date-wrap">
                    <h5 class="text-white">
                        <i class="custom-icon bi-clock me-2"></i>
                        Estate 2024
                    </h5>
                </div>

                <div class="location-wrap mx-auto py-3 py-lg-0">
                    <h5 class="text-white">
                        <i class="custom-icon bi-geo-alt me-2"></i>
                        Riccione-Rimini, Italy
                    </h5>
                </div>

                <div class="social-share">
                    <ul class="social-icon d-flex align-items-center justify-content-center">
                        <span class="text-white me-3">Share:</span>

                        <li class="social-icon-item">
                            <a href="https://www.instagram.com/riccionedisco/" class="social-icon-link">
                                <span class="bi-instagram"></span>
                            </a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://www.tiktok.com/@@riccionedisco" class="social-icon-link">
                                <span class="bi-tiktok"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="video-wrap">
        <video autoplay="" loop="" muted="" class="custom-video" poster="">
            <source src="/video/pexels-2022395.mp4" type="video/mp4">

            Your browser does not support the video tag.
        </video>
    </div>
</section>



<section id="section_2">

    <h1 class="titolo mt-4">PERCHÈ SCEGLIERE NOI</h1>
    <div class="container mt-4">
        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-6 col-lg-3 mb-4 text-center">
                <div class="card1">
                    <img src="https://hotelgransanbernardoriccione.com/wp-content/uploads/2020/12/Camera-sommier-pelle-gialla-scaled-1170x590.jpg" class="card-img-top1 img1" alt="Card Image">
                    <div class="card-body mt-3">
                        <h5 class="card-title1 text-center">7 NOTTI NEL MIGLIOR HOTEL DI RICCIONE</h5>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6 col-lg-3 mb-4 text-center">
                <div class="card1">
                    <img src="https://www.nightlife-cityguide.com/wp-content/uploads/2018/03/Vita-notturna-Riccione-672x372.jpg" class="card-img-top1 img1" alt="Card Image">
                    <div class="card-body mt-3">
                        <h5 class="card-title1">6 INGRESSI NELLE MIGLIORI DISCOTECHE</h5>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-6 col-lg-3 mb-4 text-center">
                <div class="card1">
                    <img src="https://www.notizienazionali.it/archivi/immagini/2017/B/BAK.jpeg" alt="Card Image" class="card-img-top1 img1" alt="Card Image">
                    <div class="card-body mt-3">
                        <h5 class="card-title1">BEACH PARTY E LETTINO IN SPIAGGIA</h5>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-6 col-lg-3 mb-4 text-center">
                <div class="card1">
                    <img src="https://statics.cedscdn.it/photos/MED_HIGH/51/27/7435127_31154823_aquafan_piscina_onde.jpg" class="card-img-top1 img1" alt="Card Image">
                    <div class="card-body mt-3">
                        <h5 class="card-title1">INGRESSO AL PARCO ACQUATICO AQUAFAN</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>





<section id="section_3" class="mb-3">
    <h1 class="titolo mt-4">STRUTTURE CONVENZIONATE</h1>

    <div class="container">
        <div class="row justify-content-between">

            <div class="col-lg-4 col-md-6 col-sm-12 mt-3 pacchetti">
                <div class="card">
                    <img class="card-img-top" src="/images/pacchetti/ardea.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Appartamenti Ardea</h5>
                        <p class="card-text">Viale Monti 77 Riccione</p>
                        <p class="card-text">2km dalla stazione</p>
                        <p class="card-text">200m dalla spiaggia</p>
                        <p class="card-text">Con Piscina</p>
                        <a class="btn custom-btn  ms-auto me-4" asp-area="" asp-controller="Pacchetti" asp-action="Ardea">Preventivo Gratuito</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mt-3 pacchetti">
                <div class="card">
                    <img class="card-img-top" src="/images/pacchetti/lasvegas.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Hotel Las Vegas</h5>
                        <p class="card-text">Viale Trento Trieste 87 Riccione</p>
                        <p class="card-text">1km dalla stazione</p>
                        <p class="card-text">200m dalla spiaggia</p>
                        <a class="btn custom-btn  ms-auto me-4 " asp-area="" asp-controller="Pacchetti" asp-action="LasVegas">Preventivo Gratuito</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mt-3 pacchetti">
                <div class="card">
                    <img class="card-img-top" src="/images/pacchetti/modenese.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Hotel Modenese</h5>
                        <p class="card-text">Viale Trento Trieste 92 Riccione</p>
                        <p class="card-text">900m dalla stazione</p>
                        <p class="card-text">300m dalla spiaggia</p>
                        <a class="btn custom-btn  ms-auto me-4" asp-area="" asp-controller="Pacchetti" asp-action="Modenese">Preventivo Gratuito</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
















