<section class="about-section section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="about-text-wrap">
                    <img src="/images/logo1_transparent.png">
                </div>
            </div>

            <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                <div class="services-info">
                    <h6 class="text-white mt-4">Chi siamo</h6>

                    <p class="text-white">
                        Siamo l'epicentro del divertimento per giovani viaggiatori alla ricerca
                        di un'esperienza indimenticabile, che va ben oltre il semplice concetto di vacanza.
                        Con noi, ogni sera si trasforma in un'avventura memorabile, in cui la musica, l'energia e
                        l'euforia delle migliori serate della città si fondono in un unico, elettrizzante ritmo.
                        Che tu sia qui per il relax o per ballare fino all'alba, "Riccione Disco" promette di trasformare
                        ogni momento in un highlight del tuo viaggio, connettendoti con l'anima veramente vibrante di Riccione.
                    </p>

                    <h6 class="text-white mt-4">Cosa Offriamo</h6>

                    <p class="text-white">
                        Hey ragazzi! Pronti a trasformare una normale vacanza in un tour epico delle migliori serate di Riccione?
                        Immaginate un luogo dove ogni giovane viaggiatore trova non solo relax,
                        ma il battito pulsante delle migliori notti di Riccione. "Riccione Disco" vuole essere quel luogo.<br><br>
                        Offriamo un'esperienza personalizzata, unendoli con i ritmi della città in maniera mai vista prima.
                        Dal popolare club sulla spiaggia alle esclusive feste in discoteca, garantiamo accessi prioritari e un servizio su misura.
                    </p>

                    <h6 class="text-white mt-4">Il nostro obbiettivo</h6>

                    <p class="text-white">
                        Immaginate di ballare al ritmo del vostro DJ preferito, con accesso VIP che vi catapulta direttamente al centro dell'azione.
                        Nessuna coda, solo pura adrenalina notturna e connessioni che trasformano perfetti sconosciuti in compagni di danza per la vita.
                    </p>

                    <h6 class="text-white mt-4">Conclusione</h6>

                    <p class="text-white">
                        Non rimanete a guardare da lontano! Esplorate il nostro sito "Riccione Disco", richiedete il preventivo gratuito ed iniziate a vivere
                        le vostre migliori notti a Riccione. E non dimenticate di dirci cosa ne pensate - ogni feedback rende l'avventura ancora più grande!
                    </p>
                </div>
            </div>

            

        </div>
    </div>
</section>


