
<link rel="stylesheet" href="~/css/discoteche/discoteche.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Discoteche";
}
 
    <!-- slider -->

    <div class="slider">
        <!-- list Items -->
        <div class="list">
            <div class="item active">
                <img src="~/images/discoteche/cocorico.jpg">
                <div class="content">
                    <h2 id="cocorico">COCORICÒ</h2>
                </div>
            </div>
            <div class="item">
                <img src="~/images/discoteche/villaDelleRose.jpg">
                <div class="content">
                    <h2>VILLA DELLE ROSE</h2>
                </div>
            </div>
            <div class="item">
                <img src="~/images/discoteche/altromondo.jpg">
                <div class="content">
                    <h2>ALTRO MONDO STUDIOS</h2>
                </div>
            </div>
            <div class="item">
                <img src="~/images/discoteche/peterpan.jpeg">
                <div class="content">>
                    <h2>PETER PAN</h2>
                </div>
            </div>
            <div class="item">
                <img src="~/images/discoteche/riminiBeachArena.jpeg">
                <div class="content">
                    <h2>RIMINI BEACH ARENA</h2>
                </div>
            </div>
        </div>
        <!-- button arrows -->
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- thumbnail -->
        <div class="thumbnail">
            <div class="item active">
                <img src="~/images/loghi/logo1.webp">  
            </div>
            <div class="item">
                <img src="~/images/loghi/villaDelleRose.png">
            </div>
            <div class="item">
                <img src="~/images/loghi/altromondo.png">
            </div>
            <div class="item">
                <img src="~/images/loghi/peterpan.jpg">
            </div>
            <div class="item">
                <img src="~/images/loghi/riminiBeachArena.jpg">
            </div>
        </div>
    </div>




    <script src="~/js/discoteche.js" asp-append-version="true"></script>
